h1{font-family: 'Noto Sans Thai', sans-serif;}
h3{font-family: 'Roboto', sans-serif;}
p{font-family: 'Roboto', sans-serif;}
.my-bg1{background-color:#9999FF;}
.my-bg2{background-color:#99ccFF;}
.my-bg3{background-color:#99FFFF;}
h2{font-family: 'Open Sans', sans-serif;}